# Since ultralytics downloads CUDA libraries by default, install PyTorch packages first.
# Some of these packages are used purley for vitrulization (opencv-python, scikit-image etc.)
# Consider removing those packages entirely or just to headless versions in a production environment.

--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch==2.8.0
torchvision==0.23.0

httpx==0.28.1
matplotlib==3.10.6
scikit-image==0.24.0
filterpy==1.4.5
ultralytics==8.3.199
opencv-python==4.12.0.88
numpy==2.2.6
toml==0.10.2
requests==2.32.5
