{
  "openapi": "3.0.4",
  "info": {
    "title": "Lotlytics - OpenAPI 3.0.4",
    "version": "1.0.0",
    "description": "Lotlytics is a web application that displays the\nvolumes of parking lots for different groups.\n\nA group can be defined as an establishment that owns\na set of parking lots.\n\nEach parking lot has a set of agents, also known as volume agents,\nthat are responsible for accurately determining the incoming\nand outgoing motor vehicles of a specific parking lot.\n\nThe main Application Programming Interface (API) for Lotlytics\nhandles 2 main endpoint types:\n\n- `/lot`: An endpoint for gathering data for a group of lots or a specific lot.\n- `/event`: An endpoint for gathering and creating parking events. \n\nSince events and lots pertain to a specific group at all times,\na query parameter `groupId` will always be required."
  },
  "servers": [
    {
      "url": "https://lotlytics.com/api/v1"
    }
  ],
  "paths": {
    "/lot": {
      "get": {
        "tags": [
          "Lot"
        ],
        "summary": "Get parking lots",
        "description": "Returns a list of all lots that belong to a specific group, or a specific lot if lotId is provided",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The group identifier to filter lots by"
          },
          {
            "name": "lotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Optional lot ID to get a specific lot"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique lot identifier"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the parking lot"
                          },
                          "groupId": {
                            "type": "string",
                            "description": "Group that owns this lot"
                          },
                          "capacity": {
                            "type": "integer",
                            "description": "Maximum capacity of the lot"
                          },
                          "currentVolume": {
                            "type": "integer",
                            "description": "Current number of vehicles in the lot"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid group parameter"
          },
          "404": {
            "description": "Group not found or lot not found (when lotId is specified)"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "Lot"
        ],
        "summary": "Create a parking lot",
        "description": "Returns a single lot that was created",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The group identifier to filter lots by"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "capacity",
                  "volume"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the parking lot",
                    "example": "Target Lot A"
                  },
                  "capacity": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Maximum capacity of the lot",
                    "example": 150
                  },
                  "volume": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "The current volume of the lot",
                    "example": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Unique lot identifier"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the parking lot"
                    },
                    "groupId": {
                      "type": "string",
                      "description": "Group that owns this lot"
                    },
                    "capacity": {
                      "type": "integer",
                      "description": "Maximum capacity of the lot"
                    },
                    "currentVolume": {
                      "type": "integer",
                      "description": "Current number of vehicles in the lot"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid group parameter"
          },
          "404": {
            "description": "Group not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "Lot"
        ],
        "summary": "Update a parking lot's data",
        "description": "Returns a single lot that was updated",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The group identifier to filter lots by"
          },
          {
            "name": "lotId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "lot ID to a specific lot"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "volume": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "The current volume of the lot",
                    "example": 40
                  },
                  "capacity": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "The max capacity of the lot",
                    "example": 160
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Unique lot identifier"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the parking lot"
                    },
                    "groupId": {
                      "type": "string",
                      "description": "Group that owns this lot"
                    },
                    "capacity": {
                      "type": "integer",
                      "description": "Maximum capacity of the lot"
                    },
                    "currentVolume": {
                      "type": "integer",
                      "description": "Current number of vehicles in the lot"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid group parameter or lot id"
          },
          "404": {
            "description": "Group not found or lot not found (when lotId is specified)"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Lot"
        ],
        "summary": "Delete parking lots. Events for the lot are also removed.",
        "description": "Removes a specifc lot",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The group identifier to filter lots by"
          },
          {
            "name": "lotId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "lot ID to a specific lot"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request - missing or invalid group parameter"
          },
          "404": {
            "description": "Group not found or lot not found (when lotId is specified)"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/event": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "Create a lot event",
        "description": "Used by agents. When an event is received, the agent will send the event data to this endpoint",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The group identifier to filter lots by"
          },
          {
            "name": "lotId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "lot ID to a specific lot"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "integer",
                    "enum": [
                      -1,
                      1
                    ],
                    "description": "The event value. If -1, a car left, if 1, a car entered",
                    "example": 1
                  },
                  "capturedAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Id of the event"
                    },
                    "lotId": {
                      "type": "integer",
                      "description": "Id of the lot that this event occured"
                    },
                    "groupId": {
                      "type": "string",
                      "description": "Group that owns this lot"
                    },
                    "value": {
                      "type": "integer",
                      "enum": [
                        -1,
                        1
                      ],
                      "description": "The event value. If -1, a car left, if 1, a car entered"
                    },
                    "capturedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid group parameter or payload parameter"
          },
          "401": {
            "description": "Bad authorization"
          },
          "404": {
            "description": "Group not found or lot not found or agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Get lot events",
        "description": "Gather a list of all events from a specifc group",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The group identifier to filter lots by"
          },
          {
            "name": "lotId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "lot ID to a specific lot"
          },
          {
            "name": "eventId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "event ID to a specific lot"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Id of the event"
                          },
                          "lotId": {
                            "type": "integer",
                            "description": "Id of the lot that this event occured"
                          },
                          "groupId": {
                            "type": "string",
                            "description": "Group that owns this lot"
                          },
                          "value": {
                            "type": "integer",
                            "enum": [
                              -1,
                              1
                            ],
                            "description": "The event value. If -1, a car left, if 1, a car entered"
                          },
                          "capturedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Group not found or lot not found or event not found"
          }
        }
      }
    }
  }
}
